/*Typographie couleur*/
:root {
    --marine: #051f43;
    --blanc: #ffff;
    --gris: #cccc;
    --bleu:#0056b3;
    --noir: #0000;
  }

/*-----------En-tête-----------*/
header {
    margin: 0;
    display: flex;
    justify-content: space-between;
    background-color: var(--marine);
}

.container {
    display: flex;
}

.box {
    margin: 10px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin: 0 20px;
}

.form-recherche {
    display: flex;
    border: 1px solid var(--gris);
    border-radius: 0 15px 15px 0;
    height: 30px;
    background: var(--blanc);
    width: 500px;
    margin: 0 10px  0 0; 
}

.input-recherche {
    border: none;
    padding: 10px;
    width: 500px;
    border-radius: 5px 0 0 5px;
}

.bouton-recherche {
    border: none;
    background-color: transparent;
    padding: 10px;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
    transition: color 0.3s;
}

.bouton-recherche:hover {
    color:var(--bleu);
}

    /* choix en fond tranparent*/
select{
    background-color: var(--marine);/*ou transparent*/
    color: var(--blanc);
}
.form-choix{
    padding: 0 10px  0 0;
}

    /*Boutons dans l'en-tête*/
.btn{
    background-color:var(--marine);
    color: var(--blanc);
    border: transparent;
}

    /*Boutton survolé, mais ici c'est juste un design, donc on va le laisser apparaître la bordure sur btn-login*/
.btn-login{
    border: solid#3595f1 1px;
}

    /*calendrie */
.feather {
    fill: none;
    stroke: currentColor;
}