/*---------------------------------------- Recommadations générale -------------------------------------------*/

/*Typographie couleur*/
:root {
    --marine: #051f43;
    --blanc: #ffff;
    --bleu: #0056b3;
    --bleu-clair: #00a2e8;
    --bleu-foncé: #1b1464;
    --noir: #0000;
    --gris: #eeee;
    --gris-1: #e6e6e6;
    --gris-2: #dddd;
    --gris-3: #cccc;
    --gris-4: #333;
  }

/*Font-family de la page*/
body{
    font-family: Calibri;
}


/*---------------------------------------- En-tête de la page -------------------------------------------*/
header {
    margin: 0;
    display: flex;
    justify-content: space-between;
    background-color: var(--marine);
}

.container {
    display: flex;
}

.box {
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin: 0 2em;
}

    /*Barre de recherche*/

.form-recherche {
    display: flex;
    border: 1px solid var(--gris-3);
    border-radius: 0 5em 5em 0;
    height: 2em;
    background: var(--blanc);
    width: 30em;
    margin: 0 2em  0 0; 
}

.input-recherche {
    border: none;
    padding: 1em;
    width: 100em;
}

.bouton-recherche {
    border: none;
    background-color: transparent;
    padding: 0.75em;
    cursor: pointer;
    transition: color 0.3s;
}

.bouton-recherche:hover {
    color:var(--bleu);
}

    /* Barre select */

select{
    background-color: var(--marine);/*ou transparent*/
    color: var(--blanc);
}
.form-choix{
    padding: 0 1em  0 0;
}

    /*Boutons dans l'en-tête*/

.btn{
    background-color:var(--marine);
    color: var(--blanc);
    border: transparent;
}

    /*Boutton survolé, mais ici c'est juste un design, donc on va le laisser apparaître la bordure sur btn-login*/

.btn-login{
    border: solid var(--bleu-clair) 1px;
}

    /*calendrie */

.feather {
    fill: none;
    stroke: currentColor;
}

    /*User connecté*/

.user{
    display: flex;
    align-items: center;
}
.name{
    color: var(--blanc);
    font-size: 0.90em;
    flex: 1;
}

.profil{
        margin: 0 1em; 
}

/*---------------------------------------- Corps de la page -------------------------------------------*/

/*-------------------- Barre gauche de la page ou Menu --------------------*/

.sidebar-left {
    flex: 0 0 20em;
    background: var(--gris-1);
}

.main-content {
    flex: 1; /* Prend tout l'espace restant */
}

.sidebar-left ul {
    list-style-type: none;
    padding: 0 0 0 5em;
}

.sidebar-left ul li a {
    text-decoration: none;
    color: var(--gris-4);
    display: block;
    padding: 0.2em;
}

.sidebar-left ul li a:hover {
    background-color: var(--gris-2);
}
.sidebar-left i{
    width: 10%;
    font-size: 1.2em;
}

.separation-menu{
    border: 1px solid var(--gris);
    margin: 1em;
}

    /*Menu abonnement*/

.sidebar-left .abonnement li {
    position: relative; /* Définir la position relative pour l'élément li */
}
.sidebar-left .abonnement li {
    position: relative; /* Définir la position relative pour l'élément li */
    padding-left: 2em; 
}

.sidebar-left .abonnement li:before {
    content: ""; /* Ajoutez un pseudo-élément pour créer le marqueur de liste */
    position: absolute; /* Positionnez de manière absolue par rapport à l'élément li parent */
    left: -1.90em; 
    top: 50%; 
    transform: translateY(-50%);
    width: 0.7em; 
    height: 0.7em; 
    border-radius: 50%; /* Transformez le marqueur en cercle */
    background-color: var(--bleu-clair);
    margin: 0 0 0 2em;
}

.abonnement ul{
    list-style-type: block;
}

    /*Menu Settings user*/

.dernier-icone i{
    font-size: 1.5em;
    padding: 0.25em;
}

    /*Des textes et icônes bleus*/
.titre-menu{
    font-size: 1.5em;
    color: var(--bleu-clair);
    text-align: center;
}

.menu-icon {
    height: 1.90em; 
    width: auto; 
    vertical-align: middle; /* Alignement vertical avec le texte */
}

    /*Bouton se connecter dans le menu*/

.center-btn-container{
    display: flex;                
    justify-content: center;      /* Centre horizontalement */
    align-items: center;          /* Centre verticalement */
}
.center-btn-container button{
    border: 1px solid var(--bleu-clair);
    padding: 0.50em 1em;
    margin: 0.75em;
}

/*-------------------- Partie centrale du corps de la page --------------------------*/

    /*Nouveauté*/
    
.categorie{
    padding: 0 4.25em 1.5em 4.25em;

}

h2{
    padding: 0 2.75em;
    color: var(--marine);

}
    /*Grid*/

.video{
    width: 11em;
    height: 9em; 
    padding-right: 0.2em;
}

.titre{
    font-size: 1.25em;
}

.description{
    font-size: 1em;
}
.nb-vu{
    font-size: 18px;
    color:var(--marine);
    margin: 0.75em 0;
}
    
    /*Ligne de séparation*/
.separation{
    border: 1px solid grey;
    margin: 3em;
}

    /*Entreprise BTP*/

.btn-abonne{
    display: flex;       /* Active Flexbox */
    justify-content: space-between; /* Répartit l'espace entre les éléments à l'intérieur du conteneur */
    align-items: center;  /* Centre les éléments verticalement */
    padding: 0 4.25em 0 0;
}
.btn-abonne button{
    background-color: var(--bleu-foncé);
    color: var(--blanc);
    font-size: 1em;
    padding: 0.3em;
}

/*-----------Lecture page-----------*/

.container-lecture{
    justify-content: space-between;
}
.video-lu{
    height: 78vh;
    width: 48em;
}

.video-content{
    padding: 0 1em
}

/*-------------------- Barre droite de la page --------------------------*/

.video-lateral{
    height: 8em; 
    padding-right: 0.2em;
}
.sidebar-rigth{
    display: block;
}

.titre-bleu{
    color: var(--bleu);
}
.vu-lateral{
    margin: 0;
}
.sidebar-right div.separation{
    margin: 0.01em;
}

.sidebar-rigth .grid-video{
    padding: 0;
}

.separation-lecture{
    margin:0.1em ;
}

.coms{
    padding: 0;
}

.btn-commentaire{
    padding: 0;
}

.commentaire{
    display: flex;
    padding-bottom: 1em;
}
.titre-coms{
    font-weight: bold;
}
.paragraphe-commentaire{
    width: 75%;
    pa
}

.separation-finale{
    border: 1px solid grey;
    margin: 0 0 0 20em;
}

/*-----------Footer-----------*/
footer {
    display: flex;
    justify-content: space-between;
    padding: 0 4.25em;
}

.footer-column {
    flex: 1;  /* Assure que toutes les colonnes prennent une part égale de l'espace */
    padding: 0.3em;
}

.footer-titre{
    font-weight: bold;
}

.footer-column a{
    text-decoration: none;
    color: var(--gris-4);
}
.footer-column a:hover{
    color: var(--bleu-clair);
}

.footer-column li{
    list-style: none;
}

    /*Alertes*/

.form-contact {
    display: flex;
    border: 1px solid var(--gris-3);
    border-radius:0.5em;
    height: 1.5em;
    background: var(--blanc);
    width: 18.5em;
    margin-top: 1em;
}

.input-contact {
    border: none;
    padding: 0.75em;
    width: 13em;
}

.btn-footer{
    border:1px solid var(--gris-3) ;
    border-radius:0.5em 0 0 0.5em;
    background-color: var(--gris-2);
    padding: 0.3em 2em;
    cursor: pointer;
    transition: color 0.3s;
}

.bouton-mail:hover {
    color:var(--bleu);
}

